Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/config.*
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/
/missing
/stamp-h?
.deps/
.dirstamp
.libs/
autotools
*.l[ao]
*~
compile
morse
*.o
compile_commands.json
morsetree.c
morsetree.bin
buildtree
